.jumbotron{
    background-image: radial-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,.10),
        rgba(0,0,0,.5),
        rgba(0,0,0,.25),
        rgba(0,0,0,1)),
    url(pokemon2.jpeg);
    color: white;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 60vh;
}

.container{
    float: left;
    position: relative;
    width: 125px;
    margin: 0 0.5em 2.0em 3em;
    padding: 1.0em;
}


